
OPENROUTESERVICE_API_KEY=


ARCGIS_API_KEY=


SUPABASE_URL=
SUPABASE_SECRET_KEY=


SSUPERTEA_SHOP_LAT=10.406125231986707
SSUPERTEA_SHOP_LNG=122.9977403682195
SSUPERTEA_SHOP_NAME=Ssupertea Station
SSUPERTEA_MAX_ROUTE_KM=50
